body {
  counter-reset: count-01;
  background-color: rgb(114, 114, 114);
}

li.lista01::before {
  content: ">";
}

li.lista01::after {
  content: "_";
}
ul {
  list-style: none;
}
li.lista02::before {
  counter-increment: count-01;
  display: inline-block;
  content: counter(count-01);
  width: 20px;
  height: 20px;
  background-color: bisque;
  border-radius: 50%;
  text-align: center;
  
}
div#box01 div{
  counter-reset: count-h2;

}
h2::before{
  counter-increment: count-h2;
  content:counters(count-h2,".") ":";
}
